@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
	@apply text-6xl;
}
h2 {
	@apply text-5xl;
}
h3 {
	@apply text-3xl;
}
h4 {
	@apply text-xl;
}
p {
	@apply text-lg;
}
.remove-scroll-bar {
	scroll-behavior: smooth;
	-ms-overflow-style: none;
	scrollbar-width: none;
}
.remove-scroll-bar::-webkit-scrollbar {
	display: none;
}
body {
	scroll-behavior: smooth;
	-ms-overflow-style: none;
	scrollbar-width: none;
	background: #ffffff;
	min-height: 100vh;
}
body::-webkit-scrollbar {
	display: none;
}
